@media only screen and (max-width: 1400px) {
    .sec2 {
        margin-right: 5rem;
    }

    .section-2-con {
        margin-left: -3em;
        padding: 30px 30px;
    }

    .section15 .sec-1-3 ul {
        /* border: 2px solid; */
        padding: 8px 430px;

    }
}

@media only screen and (max-width: 1200px) {
    .sec1-1 {
        margin: 5rem;
    }

    .sec1-1 h1 {
        line-height: 40px;
    }

    .sec2 {
        margin-right: 2rem;

    }

    /* section 8 */
    .section-8 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .section-8-container-2 img {
        /* width: 70vmax; */
    }
}

@media only screen and (max-width: 1125px) {

    .sec1-2 button {
        width: 13vmax;
        height: 3vmax;
    }

    .sec1-2 input {
        width: 16vmax;
        height: 3vmax;
    }

    /* section 2 */
    .section-2-con {
        margin-left: 0;
    }

    .section15 .sec-1-3 ul {
        /* border: 2px solid; */
        padding: 8px 21em;

    }
}

@media only screen and (max-width: 952px) {
    .sec1-2 button {
        margin-left: 0.1em;
        width: 13em;
        height: 3em;
    }

    .sec1-2 input {
        width: 12em;
        height: 2.7em;
        margin-bottom: 10px;

    }

    .sec2 {
        margin-right: 1rem;
    }

    .sec1-1_1 p {
        font-size: 1em;
    }

    .sec1-1 h1 {
        line-height: 40px;
        font-size: 2.5vmax;
    }

    /* section 5 */
    .section5 {
        padding: 40px;
    }

    .section-5-container-1 h2 {
        font-size: 3vmax;
    }

    .section-5-main {
        align-items: center;
        justify-content: center;
    }

    /* section 12 */
    .sec-12 {
        flex-direction: column;
        text-align: center;

    }
}