@media only screen and (max-width: 835px) {

    .sec {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sec-3 {
        margin-top: -1em;
    }

    .sec1-1 h1 {
        font-size: 2.8vmax;
    }

    .sec2-3-1 .mini-pic {
        position: relative;
        top: -12em;
    }

    .sec2-3-2 {
        width: 343px;
    }

    /* secttion 2 */
    .section-2-img img {
        width: 500px;
        height: 400px;
    }

    .header-con2 {
        display: none;
    }

    .header-con3 {
        display: none;
    }
}

@media only screen and (max-width: 888px) {

    /* section 1 hero section  */
    .sec {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sec-3 {
        margin-top: -1em;
    }

    .sec1-1 h1 {
        font-size: 3.4vmax;
        margin-bottom: 20px;
    }

    .sec2-3-1 .mini-pic {
        position: relative;
        top: -12em;
    }

    .sec2-3-2 {
        width: 343px;
    }

    .sec1-2 input {
        width: 25vmax;
    }

    .sec1-2 button {
        margin-left: -6px;

    }

    /* section 2 */
    .section2 {
        margin-top: 10em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-2-con {
        width: 600px;
    }

    .section-2-con h1 {
        font-size: 2.5rem;
    }

    .section-2-list {
        padding: 0 30px;
        /* border: 2px solid; */
    }

    /* section 3 */
    .section3 {
        padding: 40px;
    }

    /* section 5 */
    .section-5-container-1 h2 {
        font-size: 3.5vmax;
    }

    .section-5-container-1 p {
        font-size: 2.1vmax;
    }

    .section-5-container-1 button {
        font-size: 2vmax;
    }

    .section15 .sec-1-3 ul {
        /* border: 2px solid; */
        padding: 8px 16em;

    }
}
@media (max-width: 768px) {
  header nav { display: none; }
  .menu { display: block; }
}
@media only screen and (max-width: 688px) {
    .header {
        justify-content: flex-start;
        padding: 0 1em;
        width: 100vw;
        overflow-x: hidden;
    }

    .section3 {
        padding: 2em;
    }

    /* section 10 */
    .section10 {
        flex-direction: column;

        align-items: center;
    }
.section10-container-2 {
    width: 100%;
}
    .section10-container-2 img {
        width: 70%;
    }

    /* section12 start  */
    .section12 h1 {
        font-size: 2.1em;
    }

    .faqs-container {

        padding: 3em 2em;
    }

}

@media only screen and (max-width: 600px) {
    .sec1-1 h1 {
        font-size: 3.5vmax;
    }

    .header {
        justify-content: flex-start;
        padding: 0 1em;
        width: 100vw;
        overflow-x: hidden;
    }

    .sec2-3-1 .mini-pic {
        width: 40px;
        left: 0.1em;
        background-color: transparent;
        border-radius: 0;
    }

    .sec3 {
        flex-wrap: wrap;
        width: 40vmax;
        margin: auto 0;
    }

    .se3-cpntainer {
        padding: 1px;
        /* border: 2px solid; */
        min-width: 400px;
        margin: auto;
    }

    .section-2-con {
        width: 70%;
    }

    /* section 4 */
    .section-4-container-2 {
        text-align: left;

    }

    .section-4-mini-sec {
        justify-content: flex-start;
        margin-top: 10px;
    }

    .section-4-mini-sec span {
        width: 320vmax;
    }

    .secction-4-mini-container p {
        width: 60vmax;
    }

    .section-8-container-2 img {
        width: 30vmax;
    }

    /* section 12 */
    .sec-12 img {
        width: 60%;
    }
     .section15 .sec-1-3 ul {
        display: none;
}
}
@media only screen and (max-width: 482px) {
  /* .sec1-2 input, .sec1-2 button {
    width: 100%;
    margin-bottom: 10px;
  }
  .section-8-container-2 img {
    width: 100%;
  } */
   .secction-4-mini-container {
    width: 200px;
}
}  
@media only screen and (max-width: 498px){
    .secction-4-mini-container {
    min-width: 100px;
}
.secction-4-mini-container p {
    width: 50%;
}
    .section-2-img img {
        min-width: 100px;
        min-height: 190px;
    }
    .section13 h1{
        font-size: 1.5em;
    }
}


@media only screen and (max-width: 401px){
.se3-cpntainer{
   
    min-width: 100px;
}

}
@media only screen and (max-width: 518px) {
    .sec-12 {
        padding: 5px;
        text-align: left;
    }

    .sec-12 img {
        width: 20px;
    }

    .section-12-text-container h2 {
        font-size: 2em;
    }

    .section-12-text-container p {
        font-size: 1em;

    }
    .section15 .sec-1-3 ul {
        display: none;
}
}
@media only screen and (min-width: 200px) and (max-width: 488px) {
    .sec2-3-1 {
        flex-direction: column;

    }

    .main-card {
        justify-content: center;
        gap: 20px;

    }
.sec1-2{
    width: 80%;
    font-size: 0.4em;
}
    .sec-2-6-1 {

        margin: auto;

    }
.sec-3{
    width: 80%;
}
    .sec2-4-1 {
        /* margin-left: 2em; */
        margin: auto;
    }

    .section-2-img img {
      width: 70%;
      height: 200px;
    }

    /* section 10 */
    .section10-container-2 {
        margin: auto;
    }

    .section10-container-2 img {
        width: 50%;
        text-align: center;
    }
.section11 h2 {
    font-size: 1em;
}
.sec-13-btn {
padding: 1px;
width: 70%;
}
.sec-13-btn1{
    font-size: 0.9em;
}
.section14 h1{
    font-size: 0.9em;
}
.section4 h2 {
    font-size: 0.5em;
    margin: 0;
}
.section4{
    width: 100%;
}
.section-4-card h3 {
    font-size: 0.8em;
    
}
.section-4-container-1 {
    padding: 1px;
    width: 80%;
}
.footer-con h3{
    font-size: 0.9em;
}
    .section5 {
        padding: 1px;
    }
    .section-5-container-1 {
    margin: 0;
    text-align: center;
    width: 70%;
}
.section-5-container-1 p {
        font-size: 0.5em;
        width: 70%;
    }
    .section-5-cards img{
width: 50%;
    }
    .section-5-cards{
        width: 100%;
    }
.section-5-main{
    width: 100%;
}
.section5{
    padding: 1px;
    width: 100%;
}
.section-8{
    padding: 10px;
}
.sec2-3-2{
    width: 100%;
}
.sec2-3-2 .img1{
width: 50%;

}
.sec2-3-2 .mini-pic{
    display: none;
}
.section13 h1 {
        font-size: 0.8em;
    }
    .section13-card {
        padding: 0;
        width: 70%;
    }
.section13-btn {
    width: 80%;
    font-size: 0.5em;
}
.footer-con{
    width: 80%; 
  
}

.footer-cons{
      padding: 0;
}
.footer-con p {
    line-height: 1.1;
    font-size: 0.9em;
}
.section-7-container-1 h2{
    font-size: 0.9em;
}
.header-con1 h1 {
   
    font-size: 0.9em;
}
.section-4-card{
   padding: 0;
}
.section9 h2 {
    font-size: 0.9em;
}
.section-3-container-1 h2{
    font-size: 0.4em;
  
}
.section-3-container-1{
    width: 80%;
}
.section-4-card {
    width: 90%;
}
.section-4-card .sec-4-mini-container h4 {
    font-size: 0.6em;
  
}
.section-4-mini-sec span {
        width: 50%;
    }
.section-4-mini-sec  {
        width: 50px;
    }
    .secction-4-mini-container {
        width: 100%;
    }
    .sec-3-card {
width: 100%;
}
.section-10-container-1{
    padding: 0;
}
.footer-min img{
width: 20px;
}
.section-2-con {
    text-align: left;
}
    .section-2-con h1, .section-2-con{
        font-size: 0.4em;
    }
}


@media only screen and (max-width: 390px) {
    body {
        overflow-x: hidden;
    }

    .sec3 {
        width: 200px;
    }

    .se3-cpntainer img {
        width: 100px;
    }

    .section-2-img img {
        width: 200px;
        height: 290px;
    }


}